services:
  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: openAPI_specification
    ports:
      - "5433:8080"
    environment:
      SWAGGER_JSON: /docs/api.yaml
    volumes:
      - ./docs:/docs
    restart: always
    networks:
      - backend

  web:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    image: iot-hub-web
    container_name: web
    restart: unless-stopped
    volumes:
      - media_data:/app/media
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    networks:
      - backend

volumes:
  media_data:

networks:
  backend:
    driver: bridge
