services:
  web:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    image: iot-hub-web
    container_name: web
    restart: unless-stopped
    volumes:
      - media_data:/app/media
    ports:
      - "8000:8000"
    env_file:
      - ./.env

volumes:
  media_data:
