services:
  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: openAPI_specification
    restart: always
    ports:
      - "5433:8080"
    environment:
      SWAGGER_JSON: /docs/api.yaml
    volumes:
      - ./docs:/docs
    networks:
      - backend

  web:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    image: iot-hub-web
    container_name: web
    restart: unless-stopped
    volumes:
      - media_data:/app/media
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    networks:
      - backend
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy  

  db:
    image: timescale/timescaledb:latest-pg16
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  
  celery:
    image: iot-hub-web
    container_name: celery
    command: celery -A conf worker -l info
    env_file:
      - ./.env
    networks:
      - backend
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started


  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./devops/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - backend  

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - backend    

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    networks:
      - backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    

volumes:
  media_data:
  db_data:

networks:
  backend:
    driver: bridge